<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" >
  <test name="Test" parallel="classes" thread-count="2">
    <classes>
      <class name="com.efraim.restassured.tests.POST_Post_Test"/>
      <class name="com.efraim.restassured.tests.PUT_Post_Test"/>
      <class name="com.efraim.restassured.tests.GET_Post_Test"/>
      <class name="com.efraim.restassured.tests.GET_Comments_Test"/>
      <class name="com.efraim.restassured.tests.DELETE_Post_Test"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
